{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/success_login.css' %}" />
    <title>Logged In</title>
  </head>
  <body>
    <form method="POST" action="{% url 'logout' %}">
      <h1>Successfully Logged In</h1>
      <img
        src="{% static '/images/success_login.png' %}"
        alt="success_login"
        id="successimg"
      />
      <br />
      {% csrf_token %}

      <button type="submit" name="logout" class="btn-1">Logout</button>
    </form>
  </body>
</html>
