{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wrong Creds</title>
    <link rel="stylesheet" href="{% static 'css/wrong_creds.css' %}" />
  </head>
  <body>
    <form method="post" action="{% url 'signin' %}">
      {% csrf_token %}
      <h1>Oops, Wrong Crendentials please try again!</h1>
      <img
        src="{% static '/images/wrongcreds.png' %}"
        alt="Wrong Credentials"
        id="wrongcreds_img"
      />
      <br />
      <button type="submit" class="btn-1">Sign In</button>
    </form>
  </body>
</html>
